<div class="card">
  <div class="card-img-container">
    <div class="card-enlaces">
      <button
        class="btn-vx btn-ghost-vx btn-vx-sm btn-vx-icon-sm"
        aria-label="Ver perfil de Fulanito de Tal Cualquiera"
      >
        <i class="ti ti-external-link"></i></button
      ><button
        class="btn-vx btn-soft-accent btn-vx-sm btn-vx-icon-sm"
        aria-label="Guardar perfil de Fulanito de Tal Cualquiera"
      >
        <i class="ti ti-heart"></i></button
      ><button class="btn-vx btn-soft-primary btn-vx-sm">
        <i class="ti ti-send"></i> Conectar
      </button>
    </div>
    <div class="card-blur-gradient"></div>
    <img
      class="card-img-top"
      alt="Foto de Fulanito de Tal Cualquiera"
      src="/src/assets/placeholder2.webp"
      style="position: relative; z-index: 0"
    />
  </div>
  <div class="card-body">
    <div class="info mb-2">
      <h5 class="h6 py-0 my-0">Fulanito de Tal Cualquiera</h5>
      <p class="member-company">Maggiore Marketing</p>
      <p class="member-company">Buenos Aires (ARG)</p>
    </div>
    <div class="d-flex flex-wrap gap-1">
      <span class="tag-vx">Marketing</span><span class="tag-vx">Branding</span
      ><span class="tag-vx">Estrategia</span>
    </div>
  </div>
</div>
