<div class="card">
  <div class="card-img-container">
    <div class="card-enlaces"><button class="btn-vx btn-ghost-vx btn-vx-sm btn-vx-icon-sm"
        aria-label="Ver perfil de Roberto Abarca"><i class="ti ti-external-link"></i></button><button
        class="btn-vx btn-soft-accent btn-vx-sm btn-vx-icon-sm" aria-label="Guardar perfil de Roberto Abarca"><i
          class="ti ti-heart"></i></button><button class="btn-vx btn-soft-primary btn-vx-sm"><i class="ti ti-send"></i>
        Conectar</button></div>
    <div class="card-blur-gradient"></div><img class="card-img-top" alt="Foto de Roberto Abarca"
      src="/src/assets/placeholder2.webp" style="position: relative; z-index: 0;">
  </div>
  <div class="card-body">
    <div class="info mb-2">
      <h5 class="h6 py-0 my-0">Roberto Abarca </h5>
      <p class="member-company">Minotauro Marketing</p>
      <p class="member-company">Buenos Aires (ARG)</p>
    </div>
    <div class="d-flex flex-wrap gap-1 mb-0 p-0">
      <p class="p-offers">Ofrece</p>
      <p class="p-seeks">Busca</p>
    </div>
    <div class="d-flex flex-wrap gap-1"><span class="tag-vx tag-offers">estrategia comercial</span><span
        class="tag-vx tag-offers">branding</span><span class="tag-vx tag-seeks">diseño web</span><span
        class="tag-vx tag-seeks">automatización</span></div>
  </div>
</div>