<div class="card">
  <div class="card-img-container">
    <div class="card-enlaces"><button class="btn-vx btn-ghost-vx btn-vx-sm btn-vx-icon-sm"
        aria-label="Ver perfil de María Guadalupe Estévez-Montoya de la Vega"><i
          class="ti ti-external-link"></i></button><button class="btn-vx btn-soft-accent btn-vx-sm btn-vx-icon-sm"
        aria-label="Guardar perfil de María Guadalupe Estévez-Montoya de la Vega"><i
          class="ti ti-heart"></i></button><button class="btn-vx btn-soft-primary btn-vx-sm"><i class="ti ti-send"></i>
        Conectar</button></div>
    <div class="card-blur-gradient"></div><img class="card-img-top"
      alt="Foto de María Guadalupe Estévez-Montoya de la Vega" src="/src/assets/placeholder3.webp"
      style="position: relative; z-index: 0;">
  </div>
  <div class="card-body">
    <div class="info mb-2">
      <h5 class="h6 py-0 my-0">María Guadalupe Estévez-Montoya de la Vega </h5>
      <p class="member-company">Consultoría Estratégica Iberoamericana de Transformación Digital y Negocios S.A.</p>
      <p class="member-company">Ciudad de México (MÉX)</p>
    </div>
    <div class="d-flex flex-wrap gap-1 mb-0 p-0">
      <p class="p-offers">Ofrece</p>
      <p class="p-seeks">Busca</p>
    </div>
    <div class="d-flex flex-wrap gap-1"><span class="tag-vx tag-offers">transformación digital</span><span
        class="tag-vx tag-offers">metodologías ágiles</span><span class="tag-vx tag-seeks">socios tecnológicos
        LATAM</span><span class="tag-vx tag-seeks">inversión ángel</span></div>
  </div>
</div>