<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-5 g-2" data-masonry='{"percentPosition": true }'>
    <div class="col">
        <include src="src/components/card-member2.html"></include>
    </div>
        <div class="col">
            <include src="src/components/card-member.html"></include>
        </div>
            <div class="col">
                <include src="src/components/card-member2.html"></include>
            </div>
                <div class="col">
                    <include src="src/components/card-member.html"></include>
                </div>
                    <div class="col">
                        <include src="src/components/card-member.html"></include>
                    </div>
                        <div class="col">
                            <include src="src/components/card-member.html"></include>
                        </div>
                            <div class="col">
                                <include src="src/components/card-member2.html"></include>
                            </div>
                                <div class="col">
                                    <include src="src/components/card-member.html"></include>
                                </div>
                                    <div class="col">
                                        <include src="src/components/card-member.html"></include>
                                    </div>
<div class="col">
    <include src="src/components/card-member2.html"></include>
</div>


</div>
</div>