<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <img width="100" src="src/assets/Vitrinexo.svg" />

      <span
        style="
          font-size: 11px;
          color: var(--color-text-secondary);
          font-weight: 400;
          margin-left: 2px;
        "
        >by Maggiore</span
      >
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">Directorio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Comunidades</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">4Dinner</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
      </ul>
      <div class="d-flex gap-2">
        <button class="btn-vx btn-ghost-vx btn-vx-sm" type="button">
          Ingresar
        </button>
      </div>
    </div>
  </div>
</nav>
